body {
  background-color: bisque;
}
.addform {
  width: 800px;
  margin: 20rem auto;
  border: 2px solid black;
}
.addform input {
  width: 80%;
  margin: 2rem;
  padding: 0.8rem;
}
.addform button {
  width: 85%;
  padding: 1rem;
  margin: 2rem;
  background-color: black;
  border: none;
  color: white;
  font-size: 1.2rem;
}
.display {
  width: 300px;
  display: inline-block;
  margin-left: 1rem;
  padding: 2rem;
  background-color: cornflowerblue;
}
.title {
  font-size: 2rem;
}